{% extends "home/index.html" %}
{% block body %}
<form action="{% url 'home:index' %}" method = "post">
    {% csrf_token%}
    <input type="text" name="username" placeholder="Username: ">
    <br>
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <br>
    <input type="submit" value="Login">
</form>

{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}

<p> Don't have a Account, <a href="{% url 'home:register'%}">Register Now</a> </p>
{% endblock %}